<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Victor">
    <title>Taikondeira</title>
    <link href="css/style.css" rel="stylesheet">
    <body>
        <header>
            <h6> 

                
█░░ █▀▀ ▀█▀ █ █▀▀ █ ▄▀█   █▀▄▀█ █▀█ █░█   █▀▀ ▄▀█ ▀█▀ █ █▄░█ █░█ ▄▀█<br>
█▄▄ ██▄ ░█░ █ █▄▄ █ █▀█   █░▀░█ █▄█ █▀█   █▄█ █▀█ ░█░ █ █░▀█ █▀█ █▀█<br>
            </h6>
        </header>

        <div class="container">
            <section>
                <h1>Bla bla bla</h1>
                <p>In Korea, where taekwondo reigns,<br>
                    A girl as fierce as a shiba-inu trains.<br>
                    With every kick and every punch,<br>
                    Her spirit and strength, she doesunch.<br>
                    <br>
                    But when she's not training hard,<br>
                    She watches dorama, where love starts.<br>
                    Açai in hand, she takes a break,<br>
                    And lets her mind and heart escape.<br>
                    <br>
                    Through the screen, she travels far,<br>
                    To lands where love shines like a star.<br>
                    And though she's just a girl in Korea,<br>
                    Her spirit knows no boundaries, like taekwondo's aura.<br>
                    <br>
                    For she's a warrior and a dreamer,<br>
                    Shiba-inu fierce and dorama believer.<br>
                    With açai as her sweet reward,<br>
                    She's a force to be admired, her strength never ignored.<br>
                    <br>
                    So here's to you, taekwondo girl,<br>
                    May your spirit and strength forever unfurl.<br>
                    May you find love and happiness,<br>
                    Like the açai's sweetness, pure and blessed.<br></p>
            </section>
            <aside>
                <h2>Coisas que ela gosta</h2>
                <ol>
                    <li>taekwondo</li>
                    <li>Mãe</li>
                    <li>Zack</li>
                    <li>Mim</li>
                    <li>Açaí</li>
                    <li>taekwondo</li>
                    <li>taekwondo</li>
                    <li>taekwondo</li>
                    <li>dorama</li>


                </ol>

            </aside>
        </div>
            <footer>
                <p>Site dedicado a uma nerdola fofinha que achei por aí e que não se desgruda dos meus pensamentos.</p>

            </footer>
     
    </body>
</head>

</html>